:root {
  --primary-color: #272a31;
  --secondary-color: #d3d3d3;
  --highlight-color: #ec5242;
}

*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  color: var(--primary-color);
  line-height: 1.5;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.hidden {
  display: none;
}

.unhidden {
  display: block;
}

.cont {
  width: 90%;
  margin: 0 auto;
  max-width: 550px;
}

.container {
  margin: 0 auto;
  max-width: 600px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1em;
}

.col {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 0.75em;
}

/* header and headline style */

.head {
  background-image: url(images/backgrounds/music-background-notes-beige-40726604.webp);
}

.header {
  margin-bottom: 2.5em;
}

.ham-btn {
  width: 8%;
  max-width: 40px;
  margin: 1em 0 0 1.5em;
  opacity: 0.7;
}

.greeting-title,
.main-title {
  color: var(--highlight-color);
}

.greeting-title {
  font-size: 1.5rem;
}

.greeting-title-about {
  margin-bottom: 0.3em;
}

.main-title,
.concert-date {
  font-family: 'cocogoose', sans-serif;
  font-weight: 600;
}

.main-title {
  font-size: 2.25rem;
  text-transform: uppercase;
  background-image: url(images/backgrounds/GLITTER-RED-EBC-800_300x300.webp);
  -webkit-background-clip: text;
  color: transparent;
  line-height: 1.2;
}

.main-title-about {
  color: var(--highlight-color);
  background-image: none;
  background-clip: unset;
}

.desc-container {
  border: 4px solid rgba(255, 255, 255, 0.8);
  background: rgba(255, 255, 255, 0.7);
  padding: 0.75em 1.25em;
  margin: 1.5em 0;
}

.desc-container-about {
  background: rgba(255, 255, 255, 1);
  margin: 1.5em auto;
}

.concert-date {
  font-size: 1.75rem;
  opacity: 0.9;
}

.concert-location {
  font-size: 1.5rem;
  font-style: italic;
}

.headline {
  padding-bottom: 4em;
}

.text-center {
  text-align: center;
}

.concert-contact-cont,
.logo-section-cont,
.past-concert-cont {
  width: 80%;
  margin: 0 auto;
  max-width: 550px;
}

.concert-contact,
.concert-email-par {
  font-size: 0.75rem;
  line-height: 0.5cm;
}

.concert-email {
  font-weight: bold;
  text-decoration: underline;
  color: var(--primary-color);
}

/* main program style */

.main {
  background: var(--primary-color);
  background-image: url(images/backgrounds/f15e84c40e7ca0471eac13764b04f08b.png);
  background-size: 15%;
  color: var(--secondary-color);
  padding: 2em 0.75em;
}

.main-program,
.join-btn {
  text-align: center;
  font-size: 1.5em;
}

.line {
  height: 2px;
  background: var(--highlight-color);
  width: 10%;
  max-width: 50px;
  margin: 0.5em auto 1.5em auto;
  opacity: 0.7;
}

.main .row {
  width: 98%;
  margin: 0 auto;
}

.main .col {
  background: rgba(128, 124, 124, 0.2);
  width: 100%;
  min-height: 120px;
  padding: 1em;
}

.card-icon {
  width: 12%;
}

.card-title {
  color: var(--highlight-color);
  width: 40%;
  font-size: 1.25rem;
}

.card-desc {
  width: 100%;
}

.btn-cont {
  text-align: center;
}

.join-btn {
  color: var(--secondary-color);
  background: var(--highlight-color);
  margin-top: 1.5em;
  padding: 1em 2em;
}

/* Style featured musician list */

.featured {
  padding: 2em 0.75em;
}

.musician-card {
  background: #fff;
}

.musician-img-cont {
  width: 50%;
}

.musician-desc {
  width: 100%;
}

.musician-name {
  font-size: 1.125rem;
}

.musician-title,
.musician-detail {
  font-size: 0.75rem;
}

.musician-title {
  color: var(--highlight-color);
}

.line2 {
  background: var(--secondary-color);
  margin: 0.75em 0;
  max-width: 25px;
}

/* style logo section of about page */

.logo-section-cont {
  width: 80%;
  margin: 0 auto;
}

.logo-section {
  padding: 2em 0.75em;
  border-top: 2px solid rgba(39, 42, 49, 0.1);
  border-bottom: 2px solid rgba(39, 42, 49, 0.1);
}

.line4 {
  width: 6%;
  max-width: 25px;
  opacity: 0.5;
  margin: 1em auto;
}

.logo-section-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  padding: 2em 1em;
  padding-left: 4em;
  margin: 0 auto;
  margin-top: 1.5em;
  max-width: 550px;
  border: 2px solid rgba(39, 42, 49, 0.1);
}

.logo-img-cont {
  width: 40%;
  min-width: 15px;
}

.logo-section-logo .logo-img-cont {
  width: 50%;
  text-align: right;
}

.logo-section-logo .logo-img {
  width: 70%;
  min-width: 30px;
  max-width: 100px;
}

.logo-title {
  font-family: 'cocogoose', sans-serif;
}

.logo-title-cont {
  width: 100%;
}

.logo-title-cont .logo-title {
  line-height: 0.75cm;
  font-size: 1.5rem;
  font-family: 'Lato', sans-serif;
}

.overlay-text span {
  font-size: 2rem;
}

.logo-title-cont .logo-title span {
  font-size: 2rem;
}

.logo-date-cont {
  border-bottom: 2px solid rgba(39, 42, 49, 0.1);
  border-top: 2px solid rgba(39, 42, 49, 0.1);
  width: fit-content;
}

.logo-date {
  font-size: 0.75rem;
}

/* Style past-concerts section */

.past-concert {
  padding: 2em 0.75em;
}

.past-concert-row {
  gap: 1.25em;
  margin-top: 1em;
}

.past-concert-col {
  background: none;
  position: relative;
  padding: 0;
}

.overlay {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(236, 82, 66, 0.6);
  width: 100%;
  height: 100%;
}

.overlay-text {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--secondary-color);
  font-size: 0.75rem;
}

.past-concert-col:hover {
  .overlay {
    display: none;
  }
}

/* Style partner section */

.partner {
  background: var(--primary-color);
  color: var(--secondary-color);
  padding: 2em 0.75em;
}

.line3 {
  opacity: 0.4;
}

.partner-row {
  justify-content: space-evenly;
  align-items: center;
  gap: 2em;
}

.partner-logo-cont {
  width: 15%;
}

.partner-logo {
  opacity: 0.5;
}

/* style footer section */

.footer {
  color: var(--primary-color);
  padding: 2.5em 1em;
}

.footer-row {
  align-items: center;
  justify-content: space-evenly;
}

.logo {
  width: 50%;
  display: flex;
  gap: 0.25em;
  align-items: center;
  max-width: 250px;
  min-width: 180px;
}

.rights {
  width: 45%;
  font-size: 0.75rem;
  opacity: 0.9;
}

@media screen and (min-width: 768px) {
  .hidden {
    display: block;
  }

  .unhidden {
    display: none;
  }

  .container {
    width: 80%;
    max-width: 1280px;
  }

  .header {
    position: sticky;
    top: 0;
    z-index: 50;
    margin: 0;
    padding: 0;
  }

  .header-top {
    background: var(--primary-color);
    padding: 0.25em 0;
  }

  .social-icon,
  .other-link {
    color: var(--secondary-color);
  }

  .header-top .row {
    justify-content: flex-end;
    gap: 1.5em;
  }

  .header-top .col {
    gap: 1em;
  }

  .header-bottom {
    background: #fff;
    padding: 0.25em 0;
  }

  .main-logo-cont {
    width: 20%;
    max-width: 190px;
  }

  .main-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .header-bottom .row {
    justify-content: space-between;
    align-items: center;
    gap: 3em;
  }

  .nav-link {
    color: var(--primary-color);
  }

  .red {
    color: var(--highlight-color);
  }

  .red-border {
    border: 4px solid var(--highlight-color);
    padding: 0.5em 1em;
    margin-left: 1.25em;
  }

  .nav-list {
    gap: 2.5rem;
  }

  .home {
    text-align: right;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 2em 0;
    padding: 0 0.5em;
  }

  .home-color {
    color: var(--primary-color);
  }

  .home a {
    color: var(--primary-color);
    padding: 0 0.25em;
  }

  .home .fa-angle-down {
    color: var(--highlight-color);
  }

  .headline {
    position: relative;
    padding: 5em 0;
  }

  .headline .cont {
    width: 80%;
    max-width: 1280px;
    padding-top: 2em;
    margin-bottom: 1em;
  }

  .greeting-title {
    font-size: 2rem;
  }

  .main-title {
    font-size: 3rem;
  }

  .desc-container {
    width: 60%;
  }

  .main {
    padding: 3em 0;
  }

  .main-program {
    font-size: 1.75rem;
  }

  .main .row {
    margin: 3em auto;
    gap: 0.25em;
    justify-content: center;
  }

  .main .col {
    display: block;
    width: 19%;
    text-align: center;
  }

  .featured .col {
    width: 45%;
  }

  .past-concert .col {
    width: 45%;
  }

  .main .col:hover {
    border: 2px solid var(--secondary-color);
  }

  .card-icon {
    width: 50px;
    height: 50px;
  }

  .card-title {
    width: 100%;
    margin: 0.25em 0;
  }

  .btn-cont {
    margin-bottom: 2.5em;
  }

  .join-btn {
    color: var(--secondary-color);
    text-transform: uppercase;
    text-decoration: underline;
    background: none;
    padding: 0;
    font-size: 1.25rem;
  }

  .featured .row {
    margin: 2.5em 0;
    gap: 1.5em;
  }

  .musician-name {
    font-size: 1.25rem;
  }

  .musician-title,
  .musician-detail {
    font-size: 1rem;
  }

  .partner .container {
    width: 60%;
  }

  .footer .row {
    flex-wrap: nowrap;
    gap: 0;
    justify-content: flex-start;
  }

  .footer .logo {
    width: 100%;
  }

  .rights {
    width: 100%;
  }

  .main-title-cont {
    width: 70%;
  }

  .main-title-cont-about {
    margin: 0 auto;
  }

  .desc-container-about {
    width: 85%;
    max-width: 1000px;
    padding: 1.5em 3em;
  }

  .concert-contact-cont {
    max-width: 800px;
  }

  .concert-contact,
  .concert-email-par {
    font-size: 1rem;
    line-height: 1.5;
  }

  .concert-email-par span {
    font-size: 1.125rem;
  }

  .concert-email-par i {
    margin-left: 4px;
    font-size: 0.9rem;
  }

  .logo-section-cont {
    max-width: 800px;
    margin-bottom: 2em;
  }

  .logo-section-logo {
    margin: 1em auto;
  }

  .past-concert-cont {
    max-width: 1000px;
  }

  .past-concert .row {
    gap: 1.5em;
    justify-content: center;
    margin: 3em auto;
  }

  .footer {
    background: var(--secondary-color);
  }

  .footer-about {
    background: var(--primary-color);
    color: var(--secondary-color);
  }
}
